
<center>

	<%=select_tag "colors", "<option>Red</option><option>Green</option><option>Blue</option>".html_safe%>
	<a href = "/book?page=<%=@page%>&url=<%=request.original_fullpath%>" class="   btn btn-primary fair-estimate-button" type="submit" value ="fair estimate">Book now </a>

	<a href = "/fair-estimate?page=<%=@page%>&url=<%=request.original_fullpath%>" class=" btn btn-primary  fair-estimate-button" type="submit" value ="fair estimate">GET FAIR ESTIMATE </a>

</center>

<!--
<center>
	<= form_tag "/", :method => :get, :class => "form-inline " do >
	<br><br>
	<= text_field_tag :name, "", class: 'form-control simple-book simple-book-name',placeholder: 'name'>
	<= text_field_tag :phone, "", class: 'form-control simple-book', placeholder: 'phone' ,required: 'true' >
	<button href = "/" class=" btn btn-primary  book-button" type="submit" value ="book">BOOK </button> <span class="or-span">    or   </span>

	<a href = "/fair-estimate" class="   fair-estimate-button" type="submit" value ="fair estimate">GET FAIR ESTIMATE </a>
	<end>

</center>!-->