<div class="row">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li>7 passenger Van service</li>      
	</ol>
	<%= render 'services/menu' %>
	<br>
	<h1><%=@car.name%></h1>
	<% if user_signed_in? %>
		<%= link_to('edit', "cars/#{@car.id}/edit", :method => :get) %> 
	<% end %>
	<div class="col-md-6  prop-table"> 
		<table class="table  table-striped table-bordered">
			
			<tr>
				<td>Type:</td>

				<td>Van</td>
			</tr>
			<tr>
				<td>Passengers:</td>

				<td>7</td>
			</tr>
			<tr>
				<td>0-10 miles</td>
				<td class="price-table">$<%=@car.price1%></td>
			</tr>
			<tr>
				<td>11-25 miles</td>
				<td class="price-table">$<%=@car.price2%></td>
			</tr>
			<tr>
				<td>26-30 miles</td>
				<td class="price-table">$<%=@car.price3%></td>
			</tr>
		</table>


	</div>
	<div class="col-md-6 img-wrap"><img class="img-responsive" src = <%=@car.big_photo%>> </div>
	<%= render "services/book_buttons"%>
	<br><br>
	<%=raw @car.article%>
</div>