<div class=" book-form-wrap">
	<ol class="breadcrumb show-b">
		<li><a href="/">      
			Home</a></li>
			<li class="up"><a href="<%=params[:url]%>" class="up">		<%= params[:page].capitalize%>      
			</a></li>
			<li>Fair estimate</li>      
		</ol>
		<div class="row">
			<h1 class="left-align"> Enter details below to get fair estimation </h1>
			<%= form_tag "/", :method => :get, :class => "form-inline book-form" do %>
			<div class="form-group">
				<select class="form-control select" id="sel1">
					<option selected>Select service type</option>

					<option>To airport</option>
					<option>Option 2</option>
					<option>Option 3</option>
				</select>
			</div>
			<br><br>
			<span class="bold"> Name</span><br>
			<%= text_field_tag :name, "", class: 'form-control', placeholder: 'name'  %><br><br>
			<span class="bold"> Phone</span><br>
			<%= text_field_tag :phone, "", class: 'form-control', placeholder: 'phone'  %>
			<br><br>

			<span class="bold"> Pickup-up date</span><br>
			<%= text_field_tag :phone, "",type:"date", class: 'form-control', placeholder: 'pickup-up date' %>
			<br><br>
			<span class="bold"> Pickup-up time</span><br>
			<%= text_field_tag :phone, "",type:"time", class: 'form-control', placeholder: 'pickup-up time' %>
			<br><br><span class="bold"> Pickup-up location</span><br>
			<%= text_field_tag :phone, "",type:"text", class: 'form-control', placeholder: 'Pickup-up location' %>
			<br>	<br><span class="bold"> Drop-off location</span><br>
			<%= text_field_tag :phone, "",type:"text", class: 'form-control', placeholder: 'Drop-off location' %><br><br>
			<span class="bold"> Number of passengers</span><br>
			<%= text_field_tag :phone, "",type:"number", class: 'form-control', placeholder: 'Number of passengers' %>
			<br><br>
			<span class="bold">Do you have luggage?</span><br>
			<select class="form-control select" id="sel1">
				<option selected>Yes</option>

				<option>No</option>
			</select>
			<br><br>
			<button class="btn btn-primary btn-book-page" type="submit" value ="search"> tGet fair estimate</button>

			<!--hidden inputs-->

			<!--%= submit_tag "поиск", class: "btn btn-small btn-primary" %-->

			<%end%>
		</div><!--row !-->
	</div>