<div class="row">
	<h1 class = "main-header ">L.A car services</h1>
	<% @cars.each do |car|%>
		<div class="col-md-4 ">
			<div class="thumbnail product-wrap" >
				<div class="small-img-wrap">
					<a  href="/suv" title= <%=car.name%> >
						<img src=<%=car.small_photo%> alt=<%=car.name%> > 
					</a>
				</div>
				<div class="caption">
					<h4 class="">
						<a  href=<%=car.url%> title= ""><%=car.name%> </a><br>
					</h4>
					<div class="product-text "><a href = "/suv" class=" btn btn-primary" t value ="book">price and info </a></div>
				</div>
			</div>
		</div>
	<%end%>
</div>
<br><br>
<%= render 'static_pages/pluses_block' %>

<%= render 'static_pages/contacts' %>
